body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
.font-serif {
    font-family: 'Playfair Display', serif;
}
a{
text-decoration: none !important;
color: gold;
}

li.page-item {

    display: none;
}

.page-item:first-child,
.page-item:nth-child( 2 ),
.page-item:nth-last-child( 2 ),
.page-item:last-child,
.page-item.active,
.page-item.disabled {

    display: block;
}
